.DS_Store
__pycache__
.ipynb_checkpoints
dataset/
brain-tumor-detection/brain_tumor_detection/brain_tumor_classification/output/
brain-tumor-detection/brain_tumor_detection/brain_tumor_segmentation/output/
*.ipynb
.vscode